a {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  transition: all 0.3s;
}
a:hover,
#nav-links-mobile a:hover {
  color: #00c2cb;;
}
a.btn {
  border-radius: 5px;
  padding: 6px 3rem;
  font-weight: 500;
  cursor: pointer;
}

a.btn-dark {
  border: 2px solid #00c2cb;
  background: #00c2cb;
  color: #fff;
}
a.btn-dark :hover {
  background: #00c2cb;
  color: #fff;
}

@media screen and (max-width: 600px) {
  a.btn {
    display: inline;
  }
}
