.Signup-con{
    background-color: #d3d3d3;
    height: 51.6em;
}
.SignForm{
    position: relative;
    left: 1em;
    top: 6em;
    background-color: #FFFFFF;
    width: 30em;
    height: 43em;
    justify-content: start !important;
}
.BtnSignup{
    background-color: aqua !important;
    color: #FFFFFF !important;
    position: relative;
    right: 13em;
}
.haveAcc{
    position: relative;
    left: 6em;
    bottom: 3em;
}